In [7]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user" : "root",
    "password" : "admin123"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                           pool_size = 3, #default is 5
                           **dbconfig)
    # Get the connection from the connection pool "pool"
    print("Getting a connection from the pool.")
    connection = pool.get_connection()
    print("Creating a cursor object.")
    cursor = connection.cursor()
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

Getting a connection from the pool.
Creating a cursor object.

### Guest 1:

Table Number: 8

First Name: Anees

Last Name: Java

Booking Time: 18:00

EmployeeID: 6


### Guest 2:

Table Number: 5

First Name: Bald

Last Name: Vin

Booking Time: 19:00

EmployeeID: 6


### Guest 3:

Table Number: 12

First Name: Jay

Last Name: Kon

Booking Time: 19:30 

EmployeeID: 6

In [4]:
insert_bookings="""
INSERT INTO Bookings (TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(8, 'Anees','Java','18:00:00',6),
(5, 'Bald', 'Vin', '19:00:00', 6),
(12, 'Jay', 'Kon', '19:30:00', 6);"""

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

### Task 3:
Create a report containing the following information:

In [5]:
# The name and EmployeeID of the Little Lemon manager.
task_3_1 = """
    select 
        employeeid,
        name
    from 
        employees
    where 
        role = 'Manager';
"""

# Execute query
cursor.execute(task_3_1)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('employeeid', 'name')
(1, 'Mario Gollini')

In [6]:
# The name and role of the employee who receives the highest salary.
task_3_2 = """
    select
        name,
        role
    from 
        employees 
    order by 
        annual_salary desc
    limit 1;
"""

# Execute query
cursor.execute(task_3_2)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('name', 'role')
('Mario Gollini', 'Manager')

In [7]:
# The number of guests booked between 18:00 and 20:00.
task_3_3 = """
    select
        count(*) no_of_guests
    from 
        bookings 
    where 
        hour(bookingslot) between 18 and 20;
"""

# Execute query
cursor.execute(task_3_3)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('no_of_guests',)
(7,)

In [8]:
# The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.
task_3_4 = """
    select
        bookingid,
        concat(guestfirstname, ' ', guestlastname) guestfullname
    from 
        bookings 
    order by 
        tableno, bookingslot
"""

# Execute query
cursor.execute(task_3_4)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('bookingid', 'guestfullname')
(5, 'Hiroki Yamane')
(8, 'Bald Vin')
(7, 'Anees Java')
(6, 'Diana Pinto')
(1, 'Anna Iversen')
(2, 'Joakim Iversen')
(9, 'Jay Kon')
(4, 'Marcos Romero')
(3, 'Vanessa McCarthy')

### Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics: 

Total sales

Average sale

Minimum bill paid

Maximum bill paid

In [10]:
stored_procedure_query="""
CREATE PROCEDURE BasicSalesReport()

BEGIN
    select
        avg(billamount) totalsales,
        sum(billamount) avgsales,
        min(billamount) min_billamount,
        max(billamount) max_billamount
    from 
        orders; 
END
"""

# Execute the query
cursor.execute(stored_procedure_query)

#********************************************#

# Call the stored procedure with its name
cursor.callproc("BasicSalesReport")

# Retrieve recrods in "dataset"
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)

['totalsales', 'avgsales', 'min_billamount', 'max_billamount']
(Decimal('48.6000'), Decimal('243'), 37, 86)

In [ ]:
cursor.execute("""
SELECT ADDTIME("1:00:00","-1:00:00")
"""
)
result=cursor.fetchall() 
print(result)

In [5]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

### Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

Get a connection from the pool.

Create a buffered cursor.

Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

Returned the connection back to the pool.

In [10]:
try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                           pool_size = 3, #default is 5
                           **dbconfig)
    # Get the connection from the connection pool "pool"
    print("Getting a connection from the pool.")
    connection = pool.get_connection()
    print("Creating a cursor object.")
    cursor = connection.cursor(buffered=True)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

Getting a connection from the pool.
Creating a cursor object.

In [14]:
task_5_1 = """
    select
        DATE_FORMAT(b.bookingslot, "%H:%i") bookingslot,
        concat(b.guestfirstname, ' ', b.guestlastname) guest_name,
        concat(e.name, ' [', e.role, ']') '[Assigned to: Employee Name [Employee Role]]'
    from 
        bookings b inner join employees e 
    on 
        b.employeeid = e.employeeid
    order by 	
    1, 2, 3;
"""

# Execute query
cursor.execute(task_5_1)

# Fetch records 
results = cursor.fetchmany(size=3)

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('bookingslot', 'guest_name', '[Assigned to: Employee Name [Employee Role]]')
('15:00', 'Vanessa McCarthy', 'Giorgos Dioudis [Head Chef]')
('17:30', 'Marcos Romero', 'Fatma Kaya [Assistant Chef]')
('18:00', 'Anees Java', 'John Millar [Receptionist]')